body {
    background: #FFF;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 14px;
	width: 100%;
	margin: 0 !important;
}

.wrapper {
	max-width: 980px;
	margin: auto;
}
header {
	padding: 20px 0;
}

form[name="Поиск"] {
	float: right;
}

nav a {
	text-decoration: none;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style-position: inside;
	font: 14px 'Oswald', sans-serif;
	padding: 10px;
}
.head{
    font-style: normal;
font-weight: normal;
font-size: 54px;
line-height: 74px;
color: #000;
background: none;
padding: 0;
}

.top-menu li {
	display: inline-block;
	padding: 10px 50px;
	margin: 0;
}

.top-menu li.active {
	background: #446c74;
	color: #fff;
}

.top-menu a {
	color: #b2b2b2;
}

.heading {
	margin: 30px 0;
	padding-left: 20px;
	text-align: center;
	background: #000;
}

h1 {
	display: inline-block;
	color: #FFF;
	font: 40px/40px 'Oswald', sans-serif;
	margin: 0;
	padding: 0 10px;
}

aside {
	float: left;
	width: 250px;
}
section {
	margin-left: 280px;
	padding-bottom: 50px;
}

.aside-menu li {
	font-weight: 300;
	list-style-type: square;
	border-top: 1px solid #e7e7e7;
}

.aside-menu li:first-child {
	border: none;
}

.aside-menu li.active {
	background: #446c74;
}

.aside-menu a {
	color: #8f8f8f;
}

aside > h2 {
	background: #446c74;
	font: 14px 'Oswald', sans-serif;
	color: #fff;
	padding: 10px;
	margin: 30px 0 0 0;
}

aside > p {
	background: #f3f3f3;
	border: 1px solid #e7e7e7;
	padding: 10px;
	margin: 0;
}

blockquote {
	margin: 0;
	background: #29c5e6;
	padding: 10px 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

blockquote p {
	color: #fff;
	font-style: italic;
	margin: 0;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}

blockquote cite {
	display: block;
	font-size: 20px;
	font-style: normal;
	color: #1d8ea6;
	margin: 0;
	text-align: right;
}

figure {
	display: inline-block;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

figure img {
	display: block;
	border: 1px solid #fff;
	outline: 1px solid #c9c9c9;
}

figure figcaption {
	font-size: 16px;
	font-weight: 300;
	margin-top: 5px;
}

figure figcaption span {
	display: block;
	font-size: 14px;
	color: #29c5e6;
}
section > figure + figure {
	margin-left: 28px;
}
section > h2 {
	background: #29c5e6;
	font: 30px 'Oswald', sans-serif;
	font-weight: 300;
	color: #fff;
	padding: 0 10px;
	margin: 30px 0 0 0;
}
figure figcaption {
	font-size: 16px;
	font-weight: 300;
	margin-top: 5px;
}

figure div {
	font-size: 14px;
	color: #29c5e6;
}

.team-row figure {
	margin-top: 20px;
}

.team-row figure + figure {
	margin-left: 43px;
}

.fot{
	width: 1440px;
	height: 129px;
	left: 0px;
	top: 5011px;
	background: rgb(31, 20, 20);
}

.footer {
	max-width: 960px;
	margin: auto;
	padding: 10px 0;
	height: 100px;
}
.topbutton {
	width:100px;
	border:2px solid #ccc;
	background:#f7f7f7;
	text-align:center;
	padding:10px;
	position:fixed;
	bottom:50px;
	right:50px;
	cursor:pointer;
	color:#333;
	font-family:verdana;
	font-size:12px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}
.cabinet{
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #6C757D;
	padding: 16px 0 0 55px;
}
